.square {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 22px;
}

.positive {
  background-color: lightgrey;
}

.negative {
  background-color: grey;
}

.inConflict{
  background-color: red;
}
